{% extends "base_generic.html" %}

{% block content %}
<h1>{{mainpost.author}}:{{mainpost.title}}</h1>
<p>{{mainpost.text}}</p>
<p>{{mainpost.time}}</p>

<div style="margin-left:20px;margin-top:20px">
  <h4>Comments:</h4>

  {% for com in mainpost.comment_set.all %}
  <hr>
  <p></p>
  <p>{{com.author}}:{{com.text}}</p>
  <p>{{com.time}}</p>
  {% endfor %}
  {% if user.is_authenticated %}
  <form action="" method="post">
    {%csrf_token%}
    <table>
      {{form.as_table}}
    </table>
    <input type="submit" value="Submit"/>
  </form>
  {% endif %}

</div>
{% endblock %}